<h1>Create New Recipe</h1>

<%= render('layouts/errors', :object => @recipe) %>

<form action="/recipes/create" method="post">
  <label for="recipe_name">Recipe Name </label>
  <input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
  <br />
  <hr />
  <h3>Ingredients</h3>

  <form action="/portions/create" method="post">
    <label for="ingredient_name">Recipe</label>
    <select name="portion[ingredient_id]">
      <% @ingredients.each do |ingredient| %>
        <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
      <% end %>
    </select>
    <label for="quantity">Quantity</label>
    <input id="quantity" name="portion[quantity]" type="number" value="<%= @portion.quantity %>">
    <label for="unit_of_measurement">Unit of Measurement </label>
    <input id="unit_of_measurement" name="portion[unit_of_measurement]" type="text" value="<%= @portion.unit_of_measurement%>">
  </form>

  <hr />
  <h3>Directions</h3>
  <label for="recipe_content">Recipe Content </label>
  <textarea id="recipe_content" name="recipe[content]" type="textarea" rows="12" cols="60" value="<%= @recipe.content %>">Enter your instructions here </textarea>
  <br />
  <button>Create Recipe</button>
</form>


<%= render('layouts/navbar') %>
